<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>

    <!-- database target: https://nlog-project.org/documentation/v2.0.1/html/T_NLog_Targets_DatabaseTarget.htm#exampleToggle -->
    <target name="database"
            xsi:type="Database"
            keepConnection="false" useTransactions="true" dbProvider="System.Data.SqlClient"
            connectionString="Data Source=.\;Initial Catalog=NLogDatabaseTarget;Integrated Security=true;"          
            commandText="INSERT INTO dbo.Log
                          (
	                          [Level],
	                          CallSite,
	                          [Type],
	                          [Message],
	                          StackTrace,
	                          InnerException,
	                          AdditionalInfo
                          )
                          values
                          (
	                          @level,
	                          @callSite,
	                          @type,
	                          @message,
	                          @stackTrace,
	                          @innerException,
	                          @additionalInfo
                          )">
      <parameter name="@level" layout="${level}" />
      <parameter name="@callSite" layout="${callsite}" />
      <parameter name="@type" layout="${exception:format=type}" />
      <parameter name="@message" layout="${exception:format=message}" />
      <parameter name="@stackTrace" layout="${exception:format=stackTrace}" />
      <parameter name="@innerException"
                  layout="${exception:format=:innerFormat=ShortType,Message,Method:MaxInnerExceptionLevel=1:InnerExceptionSeparator=}" />
      <parameter name="@additionalInfo" layout="${message}" />
    </target>
  </targets>

  <rules>
    <!-- add your logging rules here -->
    
    <!--
    Write all events with minimal level of Debug (So Debug, Info, Warn, Error and Fatal, but not Trace)  to "f"
    <logger name="*" minlevel="Debug" writeTo="f" />
    -->
    <logger name="NLogDatabaseTarget.WebApp.*" minlevel="Error" writeTo="database"/>
    <!-- <logger levels="Error,Warn,Fatal" name="*" minlevel="Error" writeTo="database"/> -->
  </rules>
</nlog>

